body {
  font-family: Arial;
  background-color: #464242;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* styling for the container of the calculator */
.calc {
  max-width: 500px;
  overflow: hidden;
  background-color: hsl(176, 87%, 21%);
  border-radius: 20px;
}
/* Keys are put into a grid */
.keys {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin: 15px
}
/* Non number key styling */
#specialKeys {
  background-color: hsl(300, 76%, 18%);
  color: white;
}

#specialKeys:hover {
  background-color: hsl(300, 76%, 23%);
}

#specialKeys:active {
  background-color: hsl(300, 76%, 15%);
}
/* General styling for all keys */
button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 35px;
  font-weight: bold;
  border: none;
  color: hsl(300, 76%, 18%)
}

button:hover {
  background-color: rgb(227, 225, 225); 
}

button:active {
  background-color: silver; 
}
/* Display styling */
input {
  width: 100%;
  height: 100px;
  text-align: left;
  font-size: 3rem;
  padding: 20px;
  color: white;
  background-color: hsl(176, 87%, 10%);
  border: none;
}

